<div>

    <br/>
    dsagjfkjgkfd
    <br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd
    <h2>nazwa: {{surveyData.nazwa}}</h2>
    <h2>ddd</h2>

    <div class="range">
        <input type="range" name="range" min="-9" max="9" value="1" onchange="range.value=value">
        <output id="range">50</output>
    </div>

</div>