<div>

    <br/>
    dsagjfkjgkfd
    <br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd<br/>
    dsagjfkjgkfd
    <h2>nazwa: {{surveyData.nazwa}}</h2>
    <h2>ddd</h2>



    pasek tu
    <div class="examples">

        <div class="row">
            <div class="col">

                <div class="box box-green box-large box-example-reversed">
                    <div class="box-header">Reversed Rating</div>
                    <div class="box-body">
                        <select id="example-reversed" name="rating">
                            <option value="Strongly Agree">Strongly Agree</option>
                            <option value="Agree">Agree</option>
                            <option value="Neither Agree or Disagree" selected="selected">Neither Agree or Disagree</option>
                            <option value="Disagree">Disagree</option>
                            <option value="Strongly Disagree">Strongly Disagree</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>



    </div>
</div>