
<div ng-app="hello">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        My surveys
                    </a>
                </li>
                <li>
                    <a href="#">Survey name</a>
                </li>
                <li>
                    <a href="#">Categories</a>
                </li>
                <li>
                    <a href="#">Variants</a>
                </li>
                <li>
                    <a href="#">Save changes</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



                <div class="table-responsive">
                    <table class="table-responsive">
                        <tr>
                            <td><input type="text" class="form-control" id="variant5" value="Categories/Variants" name="variant5"></td>
                            <td><input type="text" class="form-control" id="category1" placeholder="e.g. price" name="category1"></td>
                            <td><input type="text" class="form-control" id="category2" placeholder="e.g. fuel" name="category2"></td>
                            <td><input type="text" class="form-control" id="category3" placeholder="e.g. color" name="category3"></td>
                            <td><input type="text" class="form-control" id="category4" placeholder="other" name="category4"></td>
                            <td><input type="text" class="form-control" id="category5" placeholder="other" name="category5"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" id="variant1" placeholder="e.g. Fiat" name="variant1"></td>
                            <td><input type="text" class="form-control" id="catVar1" placeholder="e.g. 1500" name="catVar1"></td>
                            <td><input type="text" class="form-control" id="catVar2" placeholder="e.g. diesel" name="catVar2"></td>
                            <td><input type="text" class="form-control" id="catVar3" placeholder="e.g. black" name="catVar3"></td>
                            <td><input type="text" class="form-control" id="catVar4" placeholder="other" name="catVar4"></td>
                            <td><input type="text" class="form-control" id="catVar5" placeholder="other" name="catVar5"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" id="variant2" placeholder="e.g. Toyota" name="variant2"></td>
                            <td><input type="text" class="form-control" id="catVar1" placeholder="e.g. 1500" name="catVar1"></td>
                            <td><input type="text" class="form-control" id="catVar2" placeholder="e.g. diesel" name="catVar2"></td>
                            <td><input type="text" class="form-control" id="catVar3" placeholder="e.g. black" name="catVar3"></td>
                            <td><input type="text" class="form-control" id="catVar4" placeholder="other" name="catVar4"></td>
                            <td><input type="text" class="form-control" id="catVar5" placeholder="other" name="catVar5"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" id="variant3" placeholder="e.g. BMW" name="variant3"></td>
                            <td><input type="text" class="form-control" id="catVar1" placeholder="e.g. 1500" name="catVar1"></td>
                            <td><input type="text" class="form-control" id="catVar2" placeholder="e.g. diesel" name="catVar2"></td>
                            <td><input type="text" class="form-control" id="catVar3" placeholder="e.g. black" name="catVar3"></td>
                            <td><input type="text" class="form-control" id="catVar4" placeholder="other" name="catVar4"></td>
                            <td><input type="text" class="form-control" id="catVar5" placeholder="other" name="catVar5"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" id="variant4" placeholder="e.g. Land Rover" name="variant4"></td>
                            <td><input type="text" class="form-control" id="catVar1" placeholder="e.g. 1500" name="catVar1"></td>
                            <td><input type="text" class="form-control" id="catVar2" placeholder="e.g. diesel" name="catVar2"></td>
                            <td><input type="text" class="form-control" id="catVar3" placeholder="e.g. black" name="catVar3"></td>
                            <td><input type="text" class="form-control" id="catVar4" placeholder="other" name="catVar4"></td>
                            <td><input type="text" class="form-control" id="catVar5" placeholder="other" name="catVar5"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" id="variant5" placeholder="e.g. Mazda" name="variant5"></td>
                            <td><input type="text" class="form-control" id="catVar1" placeholder="e.g. 1500" name="catVar1"></td>
                            <td><input type="text" class="form-control" id="catVar2" placeholder="e.g. diesel" name="catVar2"></td>
                            <td><input type="text" class="form-control" id="catVar3" placeholder="e.g. black" name="catVar3"></td>
                            <td><input type="text" class="form-control" id="catVar4" placeholder="other" name="catVar4"></td>
                            <td><input type="text" class="form-control" id="catVar5" placeholder="other" name="catVar5"></td>
                    </table>
                </div>

            </div>

        </div>
        <!-- /#page-content-wrapper -->
    </div>

</div>