<div ng-app="hello" ng-controller="createSurveyController">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        My surveys
                    </a>
                </li>
                <li>
                    <a href="#">Survey name</a>
                </li>
                <li>
                    <a href="#">Categories</a>
                </li>
                <li>
                    <a href="#">Variants</a>
                </li>
                <li>
                    <a href="#">Save changes</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="surveyName" class="col-sm-2 control-label">Survey name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="surveyName" placeholder="e.g. Which car should I take?" name="surveyName" ng-model="">
                            </div>
                        </div>
                    </form>


                    <form role="form" action="/wohoo" method="POST">
                        <label>Stuff</label>
                        <div class="multi-field-wrapper">
                            <div class="multi-fields">
                                <div class="multi-field">
                                    <input type="text" name="stuff[]">
                                    <button type="button" class="remove-field">Remove</button>
                                </div>
                            </div>
                            <button type="button" class="add-field">Add field</button>
                        </div>
                    </form>



                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</div>