
<div>
    <h1 class="home-heading">
        <!-- Build free online questionnaires & decide! -->
        A simple tool to help you decide!
    </h1>

    <p class="home-text">
        Sign up now for FREE unlimited surveys, questions & responses.
        <br>
        <br>


        <button class="classicButton" ng-show="!logged"><span><a href="#/newAccount">GET STARTED </a></span></button>

        <button class="classicButton violetButt"><span><a href="#/surveysList">PUBLIC SURVEYS</a></span></button>
        <button class="classicButton violetButt" ng-show="logged"><span><a href="#/ownerSurveyList">MY SURVEYS</a></span></button>


        <br/>
        <br/>

        <!--<button class="classicButton"><span><a href="#/createSurvey">CREATE SURVEY </a></span></button>-->

        <!--<button class="classicButton"><span><a href="#/createSurvey">FILL SURVEY</a></span></button>-->



        <!--<button class="classicButton"><span><a href="#/ownerSurveyList">YOUR SURVEYS</a></span></button>-->


    </p>

</div>