
<div>
    <h1 class="home-heading">
        <!-- Build free online questionnaires & decide! -->
        A simple tool to help you decide!
    </h1>

    <p class="home-text">
        Sign up now for FREE unlimited surveys, questions & responses.
        <br>
        <br>

        <button class="buttonDark"><span><a href="#/newAccount">GET STARTED </a></span></button>

        <button class="buttonDark buttonGreen"><span><a href="#/createSurvey">CREATE SURVEY </a></span></button>

        <button class="buttonDark buttonGreen"><span><a href="#/createSurvey">FILL SURVEY</a></span></button>

    </p>

</div>