
<div>
    <h1 class="home-heading" ng-show="!logged">
        <!-- Build free online questionnaires & decide! -->
        A simple tool to help you decide!
    </h1>

    <p class="home-text" ng-show="!logged">
        Sign up now for FREE unlimited surveys, questions & responses.
        <br>
        <br>


        <button class="classicButton"><span><a href="#/newAccount">GET STARTED </a></span></button>



        <button class="greyButt"><span><a href="#/surveysList">PUBLIC SURVEYS</a></span></button>
        <!--<button class="classicButton violetButt" ng-show="logged"><span><a href="#/ownerSurveyList">MY SURVEYS</a></span></button>-->


        <br/>
        <br/>

        <!--<button class="classicButton"><span><a href="#/createSurvey">CREATE SURVEY </a></span></button>-->

        <!--<button class="classicButton"><span><a href="#/createSurvey">FILL SURVEY</a></span></button>-->



        <!--<button class="classicButton"><span><a href="#/ownerSurveyList">YOUR SURVEYS</a></span></button>-->


    </p>

    <div id="wrapper" ng-show="logged">
        <div id="sidebar-wrapper" >

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="" ng-show="logged">WELCOME, {{userek}}!</a>
                    <a href="" ng-show="!logged">WELCOME</a>
                </li>
                <li class="active1">
                    <a href="" ng-click="goToCreateSurvey()" >Create your survey</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToPublicSurveys()">Public surveys</a>
                </li>
                <li>
                    <a href="" ng-show="logged" data-ng-click="goToOwnerSurveys()">My surveys</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToHome()">Home page</a>
                </li>
            </ul>

        </div>

        <!-- /#sidebar-wrapper -->



        <!-- Page Content -->
        <div id="page-content-wrapper">
dupa jaasia
       </div>

    </div>

</div>