<div class="container">

        <!--ma kontoler nawigation -->
        <form role="form" ng-submit="login()">
            <br>
            <div class="form-group">
                <label for="username">Email address</label>
                <input type="text" class="form-control" id="username" placeholder="email" name="username" ng-model="credentials.username">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="credentials.password">
            </div>

            <button class="buttonDark buttonLogin" type="submit">LOG IN</button>
            <br>
            <br>
            <p class="signup-text"><a href="#/newAccount">Do not have an account?</a></p>
        </form>

</div>
