<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    <!--ma kontoler nawigation -->
    <form role="form">
        <br>
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="text" class="form-control" id="username" placeholder="email" name="username" ng-model="credentials.username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password" ng-model="credentials.password">
        </div>

        <button class="buttonDark buttonNewAccount" type="submit" data-ng-click="setNewAcc()">CREATE AN ACCOUNT</button>
        <br>
        <br>
        <p class="signup-text"><a href="#/login">I've got an account!</a></p>
    </form>

</div>