<div id="ng-app" data-ng-app="app">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="" ng-click="showmeSurveyname=false; showmeCategories=false; showmeVariants=false; showmeData=false">WELCOME</a>
                </li>
                <li class="active1">
                    <a href="" ng-click="goToCreateSurvey()" ng-show="logged">Create your survey</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToPublicSurveys()">Public surveys</a>
                </li>
                <li>
                    <a href="" ng-show="logged" data-ng-click="goToOwnerSurveys()">My surveys</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToHome()">Home page</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">


            <div class="containerSurvey">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">my surveys</h1>
                    <div class="input-container">
                        <!--<select name="access" ng-model="s.access" required="required" id="access">-->
                        <!--<option>private</option>-->
                        <!--<option>public</option>-->
                        <!--</select>-->
                        <div id="validate">
                            <br/><br/><br/>
                            <div class="form-group col-xs-6">
                                <input  type="radio" id="radio3" name="nazwa2" value="yes" ng-model="s.check1"/>
                                <label for="radio3">Yes </label>
                            </div>
                            <div class="form-group col-xs-6">
                                <input  type="radio" id="radio4"name="nazwa2" value="no" ng-model="s.check1"/>
                                <label for="radio4">No </label>
                            </div>

                        </div>
                        <br/>      <br/>      <br/>
                        <!--<input type="text" id="access" name="access" ng-model="s.access" required="required"/>-->
                        <label for="validate">Validate</label>
                        <!--<div class="bar"></div>-->
                        <br/>      <br/>      <br/>
                    </div>
                    <div data-ng-repeat="element in model.ownerNamesSurveys track by $index">
                        <!--<div data-ng-repeat="item in items">-->
                        <div class="input-container">
                            <div class="bar"></div>
                            <div class ="listSurveys " data-ng-click="getOwnerSurvey(element, s.check1)">{{$index +1}}.  {{element}}</h2>
                                <!--<button class="buttonDark buttonGreen"><a href="#/createSurvey">FILL</a></span></button>-->

                            </div>



                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>


</div>
<!-- /#page-content-wrapper -->
</div>

