<div id="ng-app" data-ng-app="app" >


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <i ng-click="goToCreateSurvey()" ng-show="logged" class="material-icons">add</i>
            <i class="material-icons" data-ng-click="goToPublicSurveys()">public</i>
            <i class="material-icons" ng-show="logged" data-ng-click="goToOwnerSurveys()">settings</i>
            <!--<i  class="material-icons">attach_file</i>-->

            <i class="material-icons"  data-ng-click="goToHome()">refresh</i>
            <!--<i class="material-icons">search</i>-->

            <!--<i class="material-icons">public</i>-->
            <!--<i class="material-icons">autorenew</i>-->
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="containerSurvey">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">The best choice is <div class="result">{{ model.resultList[0].label}}</div></h1>

                    <div class="input-container">

                        <div class="goCenter"><fusioncharts
                                width="500"
                                height="350"
                                type="column3d"
                                datasource="{{myDataSource}}"
                        ></fusioncharts>

                        </div>

                        <div class="goCenter" data-ng-repeat="element in model.resultList track by $index">

                            <div class ="listSurveys">{{$index +1}}. {{element.label}}: {{element.value}} %</div>



                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>
<!-- /#page-content-wrapper -->
</div>

