<div id="ng-app" data-ng-app="app" >


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="" ng-click="showmeSurveyname=false; showmeCategories=false; showmeVariants=false; showmeData=false">WELCOME</a>
                </li>
                <li class="active1"  ng-show="logged">
                    <a href="" ng-click="goToCreateSurvey()">Create your survey</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToPublicSurveys()">Public surveys</a>
                </li>
                <li ng-show="logged">
                    <a href=""  data-ng-click="goToOwnerSurveys()">My surveys</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToHome()">Home page</a>
                </li>
            </ul>
        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="containerSurvey">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">The best choice is <div class="result">{{ model.resultList[0].label}}</div></h1>

                    <div class="input-container">

                        <div class="goCenter"><fusioncharts
                                width="500"
                                height="350"
                                type="column3d"
                                datasource="{{myDataSource}}"
                        ></fusioncharts>

                        </div>

                        <div class="goCenter" data-ng-repeat="element in model.resultList track by $index">

                            <div class ="listSurveys">{{$index +1}}. {{element.label}}: {{element.value}} %</div>



                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>
<!-- /#page-content-wrapper -->
</div>

