<div id="ng-app" data-ng-app="app">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <i ng-click="goToCreateSurvey()" showmeData=false" class="material-icons">add</i>
            <i class="material-icons" data-ng-click="goToPublicSurveys()">explore</i>
            <i class="material-icons"  data-ng-click="goToHome()">refresh</i>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="containerSurvey">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">Public surveys</h1>
                    <div data-ng-repeat="element in model.publicNamesSurveys track by $index">
                        <!--<div data-ng-repeat="item in items">-->
                        <div class="input-container">
                        <div class="bar"></div>
                        <div class ="listSurveys goCenter" data-ng-click="getPublicSurvey(element)">{{$index +1}}.  {{element}}</h2>
                        <!--<button class="buttonDark buttonGreen"><a href="#/createSurvey">FILL</a></span></button>-->

                        </div>



                    </div>
                    </div>
                </div>



        </div>

    </div>


</div>
<!-- /#page-content-wrapper -->
</div>

