<div id="ng-app" data-ng-app="app">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="" ng-show="logged">WELCOME, {{userek}}!</a>
                    <a href="" ng-show="!logged">WELCOME</a>
                </li>
                <li class="active1" ng-show="logged">
                    <a href="" ng-click="goToCreateSurvey()" >Create your survey</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToPublicSurveys()">Public surveys</a>
                </li>
                <li ng-show="logged">
                    <a href=""  data-ng-click="goToOwnerSurveys()">My surveys</a>
                </li>
                <li>
                    <a href="" data-ng-click="goToHome()">Home page</a>
                </li>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">



            <div class="containerSurvey">
                <div class="card"></div>
                <div class="card">
                    <h1 class="title">Public surveys</h1>
                    <div class="input-container">

                        <div id="validate">
                            <br/><br/><br/>
                            <div class="form-group col-xs-6">
                                <input  type="radio" id="radio3" name="nazwa2" value="yes" ng-model="s.check1"/>
                                <br/><br/><br/>
                                <label for="radio3">Yes </label>
                                <div class="bar"></div>
                            </div>
                            <div class="form-group col-xs-6">
                                <input  type="radio" id="radio4"name="nazwa2" value="no" ng-model="s.check1"/>
                                <br/><br/><br/>
                                <label for="radio4">No </label>
                                <div class="bar"></div>
                            </div>

                        </div>
                        <br/>      <br/>      <br/><br/>
                        <label for="validate">Validate</label>
                        <br/>      <br/>      <br/>
                    </div>
                    <div data-ng-repeat="element in model.publicNamesSurveys track by $index">
                        <div class="input-container">
                            <div class="bar"></div>
                            <div class ="listSurveys" data-ng-click="getPublicSurvey(element, s.check1)">{{$index +1}}.  {{element}}</h2>

                            </div>



                        </div>
                    </div>
                </div>



            </div>

        </div>


    </div>
    <!-- /#page-content-wrapper -->
</div>

