<div id="ng-app" data-ng-app="app">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="" ></a>
                </li>
                <li>
                    <a href="#/" >Home Page</a>
                </li>
                <li>
                    <a href="#/completeData">Complete Data</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <h4>Public surveys:</h4>
            <!--<h3>{{ model.resultList[0].variant}}</h3>-->

            <div data-ng-repeat="element in model.publicNamesSurveys track by $index">
                <!--<div data-ng-repeat="item in items">-->
                <h2>{{$index +1}}.  {{element}}
                    <!--<button class="buttonDark buttonGreen"><a href="#/createSurvey">FILL</a></span></button>-->
                </h2>




            </div>


        </div>

    </div>


</div>
<!-- /#page-content-wrapper -->
</div>

