<div>
    <br/>
    <br/>
    <br/>
    <br/>

    <div id="content">

        <ul id="sidebar2" class="nav nav-pills nav-stacked" style="max-width: 250px;">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-off"></span>  Overview</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-lock"></span>  Access</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  Message</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-list"></span>  Schedule</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-signal"></span>  Statistics</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment"></span>  Chat</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>  Contacts</a></li>
        </ul>


        <div class="main-wrapper">
            <i  class="material-icons">attach_file</i>
            <i class="material-icons">settings</i>
            <i class="material-icons">refresh</i>
            <i class="material-icons">search</i>
            <i class="material-icons">explore</i>
            <i class="material-icons">public</i>
            <i class="material-icons">autorenew</i>
            <i ng-click="showmeSurveyname=true;" class="material-icons">add</i>
        </div>
    </div>
    <div id="footer" ng-show="showmeSurveyname">
        <div class="row">

            <label for="surveyName" class="col-sm-2 control-label">survey name *</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="surveyName" placeholder="e.g. Which car should I take?" name="surveyName" ng-model="s.surveyName">
            </div>

            <div class="col-sm-6 categoryDiv">

                <fieldset  data-ng-repeat="category in categories">
                    <label class="col-sm-3 control-label">category *</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="category.name" name="" placeholder="e.g. price">
                            <span class="input-group-btn"></span>
                            <button class="remove" ng-show="$last" ng-click="removeCategory()">-</button>
                            </span>
                        </div>
                    </div>
                </fieldset>


                <div class="col-sm-5"><button class="buttonDark addFields" ng-click="addNewCategory()"><span><a>ADD CATEGORY</a></span></button></div>
            </div>



            <div class="col-sm-6 variantDiv">

                <fieldset  data-ng-repeat="variant in variants">
                    <label class="col-sm-3 control-label">variant *</label>
                    <div class="col-sm-5">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="variant.name" name="" placeholder="e.g. Fiat">
                                        <span class="input-group-btn">
                                        <button class="remove" ng-show="$last" ng-click="removeVariant()">-</button>
                                        </span>
                        </div>
                    </div>
                </fieldset>
                <button class="buttonDark addFields" ng-click="addNewVariant()"><span><a>ADD VARIANT</a></span></button>
            </div>

        </div>
        <button type="submit" class="buttonDark buttonGreen" data-ng-click="getSurveydata(); showmeData=true; showmeSurveyname=false; showmeCategories=false; showmeVariants=false">SAVE CHANGES</button>


    </div>

    </div>

</div>