body {

    background-color: #59bcdb;
}

.logo {
    background-color: #FFFFFF;
    padding: 9px;
}

.logo li{
    display: inline;
}

.logo a img {
    background-color: #FFFFFF;
}

/*button login in navigation*/
.login-button-nav {
    float: right;
    margin: 10px 20px 0 0;
    font-size: 15px;
    color: #383f50;
    border: 1px solid #383f50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 12px 9px 12px;
    display: block;
    text-decoration: none;

}

.login-button-nav:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #383f50;
    text-decoration: none;

}

.signup-text a{
    color: #383f50;
    font-size: 20px;
    text-decoration: underline;

}

.signup-text a:hover{
    color: #606573;

}


.home-heading{
    position: absolute;
    font-size: 55px;
    left: 100px;
    right: 100px;
    top: 150px;
    color: white;
    text-align: center;

}
.home-text {
    position: absolute;
    font-size: 25px;
    left: 100px;
    right: 100px;
    top: 240px;
    color: white;
    bottom: 0px;
    text-align: center;
    letter-spacing:-.1rem;
    font-family: "Courier New", Courier, monospace;
}

@media (min-width:800px) and (max-width:1024px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 150px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 225px;
        color: white;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}
@media (min-width:600px) and (max-width:800px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 200px;
        color: white;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}

@media (min-width:0px) and (max-width: 600px) {
    .home-heading{
        position: absolute;
        font-size: 30px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 225px;
        color: white;
        bottom: 0px;
        text-align: center;
        font-size: 15px;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}



h2 {
    text-align: center;
}


.buttonDark {
    border-radius: 4px;
    background-color: #383f50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Courier New", Courier, monospace;
}


.buttonDark span, .buttonDark span a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}


.buttonDark span a:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #FFFFFF;
}

.buttonDark:hover span a {
    padding-right: 25px;
    text-decoration: none;
    color: #ffffff;

}

.buttonDark:hover span a:after {
    opacity: 1;
    right: 0;
}


.buttonGreen {
    background-color: #77cc6d;
    width: 270px;

}

.buttonLogin {

    font-family: "Courier New", Courier, monospace;
    font-size: 15px;

}

.buttonNewAccount {

    font-family: "Courier New", Courier, monospace;
    font-size: 15px;

}

.buttonNext{
    font-size: 15px;
    text-decoration: none;
    float: right;
    width: 100px;
    color: #ffffff;
    padding: 10px;
}
.buttonNext:hover {
    text-decoration: none;
    color: white;
}


/*createSurvey i userPanel dashboard*/
#wrapper {
    padding-left: 0;
    top: 78px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #383f50;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 78px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        top: 78px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;


    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*createSurvey i userPanel dashboard KONIEC*/
