body {

    background-color: #59bcdb;
}

.logo {
    background-color: #FFFFFF;
    padding: 9px;
}

.logo li{
    display: inline;
}

.logo a img {
    background-color: #FFFFFF;
}

/*button login in navigation*/
.login-button-nav {
    float: right;
    margin: 10px 20px 0 0;
    font-size: 15px;
    color: #383750;
    border: 1px solid #59bcdb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 12px 9px 12px;
    display: block;
    text-decoration: none;

}

.login-button-nav:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #59bcdb;

}

.signup-text a{
    color: #383f50;
    font-size: 20px;
    text-decoration: underline;

}

.signup-text a:hover{
    color: #7a7d84;

}


.buttonDarklogin {
    border-radius: 4px;
    background-color: #383f50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Courier New", Courier, monospace;
}


.buttonDarklogin span, .buttonDarklogin span a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}


.buttonDarklogin span a:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #FFFFFF;
}

.buttonDarklogin:hover span a {
    padding-right: 25px;
    text-decoration: none;

}

.buttonDarklogin:hover span a:after {
    opacity: 1;
    right: 0;
}

.home-heading{
    position: absolute;
    font-size: 55px;
    left: 100px;
    right: 100px;
    top: 150px;
    color: white;
    text-align: center;

}
.home-text {
    position: absolute;
    font-size: 25px;
    left: 100px;
    right: 100px;
    top: 240px;
    color: white;
    bottom: 0px;
    text-align: center;
    letter-spacing:-.1rem;
    font-family: "Courier New", Courier, monospace;
}

@media (min-width:800px) and (max-width:1024px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 150px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 225px;
        color: white;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}
@media (min-width:600px) and (max-width:800px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 200px;
        color: white;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}

@media (min-width:0px) and (max-width: 600px) {
    .home-heading{
        position: absolute;
        font-size: 30px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 225px;
        color: white;
        bottom: 0px;
        text-align: center;
        font-size: 15px;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}



h2 {
    text-align: center;
}


.buttonDark {
    border-radius: 4px;
    background-color: #383f50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.buttonDark span, .buttonDark span a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}


.buttonDark span a:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #FFFFFF;
}

.buttonDark:hover span a {
    padding-right: 25px;
    text-decoration: none;

}

.buttonDark:hover span a:after {
    opacity: 1;
    right: 0;
}