body {
    background-image: url("../images/background.png");
}
.logo img{
    width:  100%;
    height: 100%;
}
.home-heading{
    position: absolute;
    font-size: 55px;
    left: 100px;
    right: 100px;
    top: 150px;
    color: white;
    text-align: center;

}
.home-text {
    position: absolute;
    font-size: 25px;
    left: 100px;
    right: 100px;
    top: 225px;
    color: #a2b9d9;
    bottom: 0px;
    text-align: center;
    letter-spacing:-.1rem;
    font-family: "Courier New", Courier, monospace;
}

.tlo {
    background-color: #fff;
}
@media (min-width:800px) and (max-width:1024px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 150px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 225px;
        color: #a2b9d9;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}
@media (min-width:600px) and (max-width:800px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 200px;
        color: #a2b9d9;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}

@media (min-width:0px) and (max-width: 600px) {
    .home-heading{
        position: absolute;
        font-size: 30px;
        left: 100px;
        right: 100px;
        top: 125px;
        color: white;
        text-align: center;

    }
    .home-text {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 225px;
        color: #a2b9d9;
        bottom: 0px;
        text-align: center;
        font-size: 15px;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}



h2 {
    text-align: center;
}