body {

    background-color: #f3f5f9;
}

.logo {
    background-color: #FFFFFF;
    padding: 9px;
}

.logo li{
    display: inline;
}

.logo a img {
    background-color: #FFFFFF;
}

/*button login in navigation*/
.login-button-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: right;
    margin: 10px 20px 0 0;
    font-size: 15px;
    color: #383f50;
    border: 1px solid #383f50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 12px 9px 12px;
    display: block;
    text-decoration: none;

}

.login-button-nav:hover {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #383f50;
    text-decoration: none;

}

.signup-text a{
    color: #383f50;
    font-size: 20px;
    text-decoration: underline;

}

.signup-text a:hover{
    color: #606573;

}


.home-heading{
    position: absolute;
    font-size: 55px;
    left: 100px;
    right: 100px;
    top: 150px;
    color: #383f50;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.home-text {
    position: absolute;
    font-size: 25px;
    left: 100px;
    right: 100px;
    top: 240px;
    color: #383f50;
    bottom: 0px;
    text-align: center;
    letter-spacing:-.1rem;
    font-family: "Courier New", Courier, monospace;
}

@media (min-width:800px) and (max-width:1024px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 150px;
        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 225px;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}
@media (min-width:600px) and (max-width:800px) {
    .home-heading{
        position: absolute;
        font-size: 35px;
        left: 100px;
        right: 100px;
        top: 125px;

        text-align: center;

    }
    .home-text {
        position: absolute;
        font-size: 15px;
        left: 100px;
        right: 100px;
        top: 200px;
        bottom: 0px;
        text-align: center;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}

@media (min-width:0px) and (max-width: 600px) {
    .home-heading{
        position: absolute;
        font-size: 30px;
        left: 100px;
        right: 100px;
        top: 125px;
        text-align: center;

    }
    .home-text {
        position: absolute;
        left: 100px;
        right: 100px;
        top: 225px;
        bottom: 0px;
        text-align: center;
        font-size: 15px;
        letter-spacing:-.1rem;
        font-family: "Courier New", Courier, monospace;
    }
}

hr.style3 {
    border-top: 1px dashed #8c8b8b;
}



h2 {
    text-align: center;
}
h3 {
    font-family: "Courier New", Courier, monospace;
    font-size: 50px;
    color: #383f50;
    text-align: center;
    padding-bottom: 10px;
}

h4 {
    color: #606573;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    padding-left: 70px;
}


h5 {
    text-align:left;
    float:left;
    color: #606573;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;


}

h6{

    text-align:right;
    float:right;
    color: #606573;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;

}

.buttonDark {
    border-radius: 4px;
    background-color: #383f50;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: "Courier New", Courier, monospace;
}


.buttonDark span, .buttonDark span a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #FFFFFF;
}


.buttonDark span a:after {
    content: '>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #FFFFFF;
}

.buttonDark:hover span a {
    padding-right: 25px;
    text-decoration: none;
    color: #ffffff;

}

.buttonDark:hover span a:after {
    opacity: 1;
    right: 0;
}


.buttonGreen {
    background-color: #77cc6d;
    width: 270px;
    color: #FFFFFF;
    text-decoration: none;

}
.addCatandVar {
    background-color: #383f50;
    width: 150px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 10px;
    font-size: 15px;
}



.addFields {
    width: 50px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.buttonLogin {

    font-family: "Courier New", Courier, monospace;
    font-size: 15px;

}

.buttonNewAccount {

    font-family: "Courier New", Courier, monospace;
    font-size: 15px;

}

.buttonNext{
    font-size: 15px;
    text-decoration: none;
    float: right;
    width: 100px;
    color: #ffffff;
    padding: 10px;
}
.buttonNext:hover {
    text-decoration: none;
    color: white;
}


/*createSurvey i userPanel dashboard*/
#wrapper {
    padding-left: 0;
    top: 78px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #f3f5f9;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #383f50;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 15px;
    top: 78px;
    background-color: #f3f5f9;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.sidebar-nav li {
    font-size: 25px;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-indent: 20px;
    margin-top:20px;
    margin-bottom: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #606573;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #606573;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        top: 78px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
        background-color: #f3f5f9;


    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        background-color: #f3f5f9;
    }
}

/*createSurvey i userPanel dashboard KONIEC*/

fieldset{
    padding: 15px;
}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 23px;
    border: 0;
    cursor: pointer;
    padding: 5px 9px;
    vertical-align: top;
    line-height: 100%;
}


.whiteBoard {

    background: url('../images/tlo.png') no-repeat center center;
    background-size: cover;

    top: 100px;
    left: 100px;
    padding: 5px 20px 5px 20px;
    height: 600px;
    width: 1000px;

    overflow-y: hidden;
    overflow-x: hidden;
}



#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    background-color: #abcdef;
}
#content {
    position: absolute;
    top: 78px;
    bottom: 400px;
    left: 0;
    right: 0;
    background-color: #f3f5f9;

}



.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.acceptButt {
    float: right;
    padding-right: 100px;
}



.box {
    background: #eee;
    padding:20px;
    height: 100px;
    margin: 20px 0;
}


.main-wrapper {
    border-radius: 4px;
    background-color: #f3f5f9;
    top: 78px;
    padding: 20px;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    position: relative;
}

i.material-icons {
    font-size: 1.5rem;
    color: white;
    position: relative;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

i.material-icons:hover:after {
    transform: scale(1);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

/*dodaje*/
i.material-icons:nth-of-type(4) {
    background-color:#8897b9;
}

i.material-icons:nth-of-type(4):hover {
    color: #8897b9;
}

i.material-icons:nth-of-type(4):after {
    border-color: #8897b9;
}

i.material-icons:nth-of-type(5) {
    background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
    color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
    border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
    background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
    color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
    border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
    background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
    color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
    border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
    background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
    color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
    border-color: #d59acb;
}
/*explore*/
i.material-icons:nth-of-type(1) {
    background-color: #8897b9;
}

i.material-icons:nth-of-type(1):hover {
    color: #8897b9;
}

i.material-icons:nth-of-type(1):after {
    border-color: #8897b9;
}

i.material-icons:nth-of-type(2) {
    background-color: #af88b9;
}

i.material-icons:nth-of-type(2):hover {
    color: #af88b9;
}

i.material-icons:nth-of-type(2):after {
    border-color: #af88b9;
}

i.material-icons:nth-of-type(3) {
    background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
    color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
    border-color: #cdb274;
}

i.material-icons:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}

p {
    color: #999;
    font-weight: 300;
    margin-top: 20px;
}

@media (min-width:601px) {
    i.material-icons {
        padding:10px;
        margin:5px;
        font-size:2rem;
    }
}

@media (min-width:993px) {
    i.material-icons {
        padding:20px;
        margin:10px;
        font-size:4rem;
    }
    i.material-icons:after {
        border-width:3px;
        top:-3px;
        left:-3px;
    }
}

.classicButton {
    outline: 0;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #383f50;
    color: #ffffff;
    width: 240px;
    border: 2px solid #383f50;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-decoration: none;

}

.violetButt {
    background: #8897b9;
    border: 2px solid #8897b9;
}


.classicButton span a {
    position: relative;
    z-index: 1;
    color: #ffffff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    text-decoration: none;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;;
}
.classicButton:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background: #f3f5f9;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.classicButton:hover, .classicButton:active, .classicButton:focus {
    border-color: #f3f5f9;
}
.classicButton:hover span a,  .classicButton:active span a, .classicButton:focus span a {
    color: #d3d3d3;
}
.classicButton:active span a, .classicButton:focus span a {
    color: #ffffff;
}
.classicButton:active:before, .classicButton button:focus:before {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
}


.field-tip {
    position:relative;
    cursor:help;
}
.field-tip .tip-content {
    position:absolute;
    top:-10px; /* - top padding */
    right:9999px;
    width:200px;
    margin-right:-220px; /* width + left/right padding */
    padding:10px;
    color:#fff;
    background:#333;
    -webkit-box-shadow:2px 2px 5px #aaa;
    -moz-box-shadow:2px 2px 5px #aaa;
    box-shadow:2px 2px 5px #aaa;
    opacity:0;
    -webkit-transition:opacity 250ms ease-out;
    -moz-transition:opacity 250ms ease-out;
    -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
    transition:opacity 250ms ease-out;
}
/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field-tip .tip-content:before {
    content:' '; /* Must have content to display */
    position:absolute;
    top:50%;
    left:-16px; /* 2 x border width */
    width:0;
    height:0;
    margin-top:-8px; /* - border width */
    border:8px solid transparent;
    border-right-color:#333;
}
.field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}

.listSurveys {
    font-size: 25px;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    color: #757575;
    font-weight: 300;
    line-height: 60px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.listSurveys:hover {
    color: #383f50;
    font-weight: 400;
}

.goCenter {
    text-align: center;

}

.k {
    position: absolute;
}